:root{

      --branco-color :white;
      --cinza-secundario: gray;
      --botao-azul:blue;
  --cord-fundo: black;
}

body{

       background-color: black;
       color: white;
       font-size: 16px;
       font-weight: 400;
  {

.principal{
     background-color: 
